<div class="container">
  <h2>Сервис мониторинга устройств</h2>
  
  <mat-table [dataSource]="devices" class="mat-elevation-z8">
    
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let device">{{device.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Имя пользователя</mat-header-cell>
      <mat-cell *matCellDef="let device">{{device.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef>Версия приложения (последн.)</mat-header-cell>
      <mat-cell *matCellDef="let device">{{device.version}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef>Подробнее</mat-header-cell>
      <mat-cell *matCellDef="let device">
        <button mat-button color="primary" (click)="viewDetails(device.id)">
          Показать подробнее
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>